---
layout: master
title: Home
---
{% for item in site.posts limit:1 %}
<div>
	<h1>
		<a href='{{item.url}}'>{{item.title}}</a><br/>
		<span class="smaller padleft">posted {{item.date | date_to_string}}</span>
	</h1>
	<hr />
	<div class="post-body">
	{{item.content }}
	</div>
</div>
{% endfor %}
<hr />

<div>
	<h3> Recent posts: </h3>
	{% for item in site.posts limit:10 offset:1 %}
		<div>
			<span class="larger"><a href='{{item.url}}'>{{item.title}}</a></span>
      <span class="smaller">posted {{item.date | date_to_string}}</span>
		</div>
	{% endfor %}
</div>
