---
layout: master
title: Home
---

{% for item in site.posts limit:3 %}
<div class="post">
	<h1><a href='{{item.url}}'>{{item.title}}</a></h1>
	<div class="date">posted {{item.date | date_to_string}}</div>
	<hr />
	<div class="body">{{item.content}}</div>
</div>
{% endfor %}

<div class="list">
	{% if site.posts.size > 3  %}
	<h2>Older posts</h2>
	{% endif %}
	<ul>
	{% for item in site.posts limit:10 offset:3 %}
		<li><a href='{{item.url}}'>{{ item.title }}</a></li>
	{% endfor %}
	</ul>
</div>
