* {}

body{
    height: 99%;
    background: #eee;
    margin: 0px;
}

#my-name {
	height: 100%;
	font-size: 5em;
    font-family: Calibri, Helvetica, Arial;
    color: #336;
}

#header .nav {
	float: right;
}

.post-block {
	padding: 20px;
}

#content {
    border-left: 2px #ddd solid;
    border-right: 2px #ddd solid;
    padding: 25px;
    background: #fff;
}

em {
    font-weight: bold;
    font-size: 1.1em;
}

h1.post-title {
	font-size: 3em;
}

h4.post-title{
	font-size: 1.5em;
}

.hero-unit .post-body *{
	font-size: 1.1em;
}

.post-body  *{
	font-size: 1em;
}

.date {
    font-size: 0.85em;
    font-family: Helvetica, Arial;
    color: #369;
	margin-left:5px;
}

.date-small {
    font-size: 0.5em;
    font-family: Helvetica, Arial;
    color: #369;
	margin-left:5px;
}
