* {}

body{
    height: 99%;
    background: #eee;
    margin: 0px;
}

#header {
    background: #369;
    text-align: center;
    display: block;
}

#my-name {
    font-size: 3.4em;
    font-family: Helvetica, Arial;
    float: left;
    color: white;
}

#banner{
    display: inline-block;
    margin: auto;
    width: 50%;
    min-width: 500px;
}

#links{
    float: right;
    padding: 0px;
    margin: 0px;
}

#links a {
    display: inline-block;
    text-decoration: none;
    background: white;
    font-size: 1.2em;
    color: #036;
    padding: 5px;
    margin: 0px;
    border: 1px solid #ccc;
    border-right: 0px;
    border-top: 0px;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#links a:hover {
    background: #036;
    color: #fff;
    border-color: #036;
}

#content {
    margin: auto;
    width: 50%;
    min-width: 500px;
    border-left: 2px #ddd solid;
    border-right: 2px #ddd solid;
    padding: 40px;
    height: 90%;
    background: #fff;
}

em {
    font-weight: bold;
    font-size: 1.1em;
}

.post h1 {
    font-size: 1.4em;
    font-weight: bold;
    text-decoration: none;
    color: black;
    padding: 0px;
    margin: 0px;
}

.post a {
   text-decoration: none; 
   font-family: Helvetica, Arial;
   color: black;
}

.post .date {
    font-size: 0.75em;
    font-family: Helvetica, Arial;
    color: #369;
}
.post .hr {
    color: #036;
}

h2 {
    font-size: 1.2em;
    font-weight: bold;
    font-family: Helvetica, Arial;
}

h2 a {
    color: black;
    font-family: Helvetica, Arial;
}
