<!DOCTYPE html>
<html>
  <head>
    <title>Abhishek's Blog - {{page.title}}</title>
    <link rel="stylesheet" href="static/css/master.css" >

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Personal blog">
    <meta name="author" content="Abhishek Pandit">
  </head>

    <body>

      <!-- Google analytics !--> 
      <script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-93747342-1', 'auto');
ga('send', 'pageview');
      </script>

      <div id="header">
        <ul class="navbar">
          <li><a href="index.html">Blog</a></li>
          <li><a href="archive.html">Archive</a></li>
          <li><a href="http://www.github.com/apandit">Github</a></li>
        </ul>
      </div>

      <div id="container">
        <div id="content">
          {{content}}
        </div>
      </div><!-- /.container -->

      <div id="footer">
        <span>Copyright Abhishek Pandit, 2017. </span>
        <a href="http://www.linkedin.com/pub/abhishek-pandit/54/254/19a" style="text-decoration:none;">
          <span style="font: 80% Arial,sans-serif; color:#0783B6;">
            <img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_in_20x15.png" width="20" height="15" alt="View Abhishek Pandit's LinkedIn profile" style="vertical-align:middle" border="0">
            LinkedIn
          </span>
        </a>
      </div> <!-- footer -->
    </body>
</html>
