<html>
    <head>
        <title>apandit - {{page.title}}</title>
        <link rel="stylesheet" href="stylesheets/master.css" type="text/css"
        media="screen" charset="utf-8" />
    </head>
    <body>
        <div id="header">
            <div id="banner">
                <div id="my-name">
                    apandit
                </div>
                <div id="links">
                    <a href="http:://apandit.github.com">Home</a><a
                        href="http://abshack.com/blog">Blog</a><a href="http://github.com/apandit">Github</a>
                </div>
            </div>
        </div>
        <div id="content">
            {{content}}
            <div class="clearfix"></div>
        </div>
    </body>
</html>
